# Python caches
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Virtual environments
venv/
.env/

# Python packaging
build/
dist/
*.egg-info/

# Logs and temp files
*.log
*.tmp
